<a href="https://colab.research.google.com/github/25BPE125/computer-programming/blob/main/unit_1_practice_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.add two no.

In [ ]:
790+567

1357

2.substract two no.

In [ ]:
790-567

223

3.multiply 2 numbers

In [ ]:
790*567

447930

4.divide two numbers

In [ ]:
790/567

1.3932980599647267

5.add multiply substract divide two number

In [12]:
a=float(input("first number:"))
b=float(input("second number:"))
print("addition =",a+b)
print("substraction=",a-b)
print("multiplication =",a*b)
print("divison =",a/b)

first number:3
second number:4
addition = 7.0
substraction= -1.0
multiplication = 12.0
divison = 0.75

6.convert hours into minutes

In [ ]:
h=float(input("hours: "))
print("minutes =", h*60)

hours: 8
minutes = 480.0

7.convert min into hours

In [ ]:
m=float(input("minutes: "))
print("hours =", m/60)

minutes: 30
hours = 0.5

8.convert rs into dollars where 1$ =48 rs

In [ ]:
d=float(input("dollars:"))
print("Rupees =",d*48)

dollars:45
Rupees = 2160.0

9.convert rs into dollars.

In [ ]:
r = float(input("rupees:"))
print("dollers =", r/48)

rupees:367
dollers = 7.645833333333333

10. convert dollar into pound where 1$=48rs and 1 pound = 70 rs

In [ ]:
d = float(input("dollar: "))
p = (d*48)/70
print("pound =",p)

dollar: 6
pound = 4.114285714285714

11.convert grams into kgs

In [ ]:
g =float(input("grams:"))
print("kilograms =", g/1000)

grams:456
kilograms = 0.456

12. convert kgs into grams

In [ ]:
kg =float(input("kilograms:"))
print("grams =",kg*1000)

kilograms:4
grams = 4000.0

13.convert bytes into kb mb and gb

In [ ]:
b=float(input("bytes:"))
print("KB =",b/1024)
print("MB =",b/1024/1024)
print("GB =",b/1024/1024/1024)

bytes:345
KB = 0.3369140625
MB = 0.00032901763916015625
GB = 3.213062882423401e-07

14.convert celcius into fahrenhit F=(9/5*C)+32

In [ ]:
c=float(input("celcius: "))
print("feranhit=",(c* 9/5)+ 32)

celcius: 34
feranhit= 93.2

15.convert fahrenheit to celcius . C=5/9*(F-32)

In [ ]:
f=float(input("fahrenheit: "))
print("celcius=", (f-32)*5/9)

fahrenheit: 32
celcius= 0.0

16.calculate the interest where i=prn/100

In [1]:
p=float(input("principal: "))
r=float(input("rate: "))
n=float(input("time:"))

i=(p*r*n)/100
print("interest =",i)

principal: 1000
rate: 6
time:4
interest = 240.0

17.calculate the area perimetre of a square a=l^2,p=4l

In [2]:
L=float(input("enter side:"))
A=L*L
P=4*L
print("Area =",A)
print("Perimeter =",P)

enter side:5
Area = 25.0
Perimeter = 20.0

18.calculate the area and perimeterof a rectangle..A=L*B,P=2(L+B)

In [4]:
L=float(input("enter length:"))
B=float(input("enter width:"))
A=L*B
P=2*(L+B)
print("Area=",A)
print("Perimeter=",P)

enter length:7
enter width:7
Area= 49.0
Perimeter= 28.0

19.calculate area of circle .A=22/7*R*R

In [5]:
R=float(input("enter radius:"))
A=22/7*R*R
print("Area =",A)

enter radius:7
Area = 154.0

20.calculate the area of triangle.A=H*L/2

In [6]:
H=float(input("enter height:"))
L=float(input("enter length:"))
A=H*L/2
print("Area =",A)

enter height:7.9
enter length:7.8
Area = 30.810000000000002

21.calculate the net salary
  where net salary = gross salary + allowance - deduction
  allowance are 10% while deductions are 3% of gross salary

In [7]:
g=float(input("gross salary;"))
a=0.10 * g
d=0.03 * g
N= g + a - d
print("Net salary =",N)

gross salary;20000
Net salary = 21400.0

22.calculate the net sales where net salaes = gross sales - 10% discount of gross sales

In [9]:
g=float(input("gross sales:"))
N= g - 0.10 * g
print("Net sales=",N)

gross sales:23
Net sales= 20.7

assignment q.1==calculate the avg of three subjects along with their total

In [10]:
a=float(input("sub 1:"))
b=float(input("sub 2:"))
c=float(input("sub 3:"))
total=a+b+c
avg= total/3
print("total =",total)
print("avg =",avg)

sub 1:45
sub 2:45
sub 3:56
total = 146.0
avg = 48.666666666666664

assignment q2. swap two numbers

In [11]:
a =input("a: ")
b =input("b: ")
a,b=b,a
print("a=",a)
print("b=",b)

a: 22
b: 34
a= 34
b= 22